{% extends 'base.html' %}

{% block content %}

<div class="d-flex align-items-center min-vh-100">
    <div class="container mt-5" style="max-width:50vh">
        <form id="registerForm" method="POST">
            <label for="user">User:</label><br>
            <input class="form-control" type="text" id="user" name="user"><br>
            <label for="email">Email:</label><br>
            <input class="form-control" type="text" id="email" name="email"><br>
            <label for="email2">Confirm Email:</label><br>
            <input class="form-control" type="text" id="email2" name="email2"><br>
            <button class="btn btn-primary btn-block mt-3" type="submit">Register</button>
        </form>
    </div>
</div>

{% endblock content %}